
	<p> This website was created by <%= title %> </p>
  	 <img src="/images/n7.jpg" width="200">
  	 <form method="get" action="/CV_EduardoQuirogaBradshaw_Castellano.pdf">
   	<button type="submit">Download CV</button>
	</form>
 
