
	<p> This website was created by <%= title %> </p>
  	 <img src="/images/n7.jpg" width="200">
  	
   	<button type="submit" id="cv">Download CV</button>
   	  <script type="text/javascript">
  	$(document).ready( () => {
	$("#cv").on("click", () => {
		window.open("/CV_EduardoQuirogaBradshaw_Castellano.pdf");
	});
})
  </script>
	</form>
 
