<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel = "stylesheet" href = "stylesheets/style.css">
    <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
  <script type="text/javascript">
  	$(document).ready( () => {
	// get current URL path and assign 'active' class
	var pathname = window.location.pathname;
	$('.nav > li > a[href="'+pathname+'"]').parent().addClass('active');
	$("#mail").on("click", () => {
		window.open("mailto:e.quiroga1997@gmail.com");
	});
	$("#linkedin").on("click", () => {
		window.open("https://www.linkedin.com/in/eduardo-quiroga-bradshaw-25411615a/");
	});
	$("#github").on("click", () => {
		window.open("https://github.com/equiroga8/");
	});
})
  </script>
     <nav class="navbar navbar-inverse">
  	<div class="container-fluid">
  		
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#miMenu">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand">
       <img src="/images/network.svg" width="35px" height="35px" alt="logo">
   	</a>
    </div>
    <div class="collapse navbar-collapse" id="miMenu">
      <ul class="nav navbar-nav">
      	<li><a href="/"><img class = "nav-logos" src="/images/home.svg"> &nbsp; HOME</a></li>
        <li><a href="/quizzes"><img class = "nav-logos" src="/images/quiz.svg"> &nbsp; QUIZ</a></li>
        <li> <a href="/credits"><img class = "nav-logos" src="/images/user.svg"> &nbsp; ABOUT</a></li> 
      </ul>
    </div>
  </div>
  </nav>
    <div class="content">
      <div class="div">
        <%- body %>
      </div>
    </div>  
	
                      
  <footer> 
  	<!-- <div> Icons from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a> -->
  	</div>
  	<div><input type="image" src="/images/email.svg" id = "mail"> </div>
  	<div><input type="image" src="/images/linkedin.svg" id = "linkedin"> </div>
  	<div><input type="image" src="/images/github.svg" id = "github"> </div>
  </footer>                    
  </body>  
</html>
