
:root {
	--main-nav-color: #8F8682;
}

body{
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	
	font-family: 'Jua', sans-serif;
}

footer {
	padding: 5px 5px 5px 5px;
	position:relative;
    bottom: 0;
    width: 100%;
    background: var(--main-nav-color); /*linear-gradient(to right, #3366ff 0%, #77aaff 100%)*/;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center
    
}

.nav.navbar-nav li a {
   	color: #636363;
   	font-size: 15px;
   	padding-top: 15px;
   	
 	}
 .nav-logos {
 	padding-bottom: 2px;
  	width: 25px;
   	
 	}	
.nav.navbar-nav li a:hover {
   	color: #000;

 }
 .nav .active a { 
 	background:#D9D4D0 !important;
 }


.navbar.navbar-inverse{
	border-radius: 0px;
	position: fixed;
	width: 100%;
	background: var(--main-nav-color);
	

}
.content {
	padding: 100px 20% 50px 20%;
	background-color: #e8edf3;
	height: 100%;
	
}
.div{
	background-color:  #D3D3D3;
	height: 100%;
}
.navbar-brand>img {
	height: 100%;
 
  	width: auto;
}
.footer-logo{
	width: 30px;
}
footer > div {
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 5px;
}
footer > div > input {
	width: 30px;
}